body {
  background-color: #012A4A;
}

.header {
  font-weight: bold;
  color: #a9d6e5;
}

.btn-light {
  background-color: #A9D6E5 !important;
  color: #012A4A !important;
}

.btn-light:hover {
  background-color: #01497C !important;
  color: #A9D6E5 !important;
  transition: 500ms !important;
}

.btn-info {
  background-color: #05aae1 !important;
  color: #012A4A !important;
}

.btn-info:hover {
  background-color: #01497C !important;
  color: #A9D6E5 !important;
  transition: 500ms !important;
}


/* transparent scrollbar */
div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-thumb {
  border: 2px solid #01497C;
  border-radius: 20px;
}


/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #012A4A;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #A9D6E5;
  border-radius: 1px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:active {
  background: #468FAF;
}